<!-- The homepage of the website -->
{% extends "layout.html" %}

<!-- The main content that fills upp the screen,
     introduces the website with a nice image -->
{% block main_content %}
  <img src="{{ url_for('static', filename='images/earth.png') }}">
  <h2>Welcome to My App</h2>
  <h3>This is the home page for My App and it is currently under heavy construction.</h3>
  <h3>Interested? Sign up below to get the latest news and updates! </h3>

  <!-- Sign up button that links to the sign up page -->
  <form action="{{ url_for('signup') }}">
    <button class="button" type="submit">Sign up</button>
  </form>

  <!-- The facebook "plugin" -->
  <div
    class="fb-login-button"
    data-show-faces="true"
    data-max-rows="1"
    data-scope="publish_actions">
  </div>

  <div
    class="fb-like"
    data-href="http://127.0.0.1"
    data-layout="box_count"
    data-action="like"
    data-show-faces="false"
    data-share="true">
  </div>
{% endblock %}

<!-- Landing content for those that want to know more about the project -->
{% block landing_content %}
  <div id="landing-container">

    <!-- The 'Yellow' Content -->
    <div class="gradient" id="yellow-divider">
      <section class="mid-container">
        <div class="left-column">
           <img src="{{ url_for('static', filename='images/bird_yellow.png') }}">
        </div>
        <div class="right-column">
          <h1 class="yellow-color">App Function 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nulla rhoncus imperdiet purus in sollicitudin.
                  Nunc tristique nunc non nisl luctus auctor.
                  Pellentesque in feugiat nulla, non vehicula arcu.
                  Morbi rutrum feugiat lorem, fermentum ultricies quam dapibus vitae.
                  Vestibulum consectetur nibh dolor, id consequat diam viverra quis.
                  Integer eu augue accumsan, laoreet tellus et, posuere nisl.</p>
            <p>Vivamus iaculis in elit in pretium. Proin rhoncus at nisi eu convallis.</p>
          </div>
      </section>
    </div>

    <!-- The 'Red' Content -->
    <div class="gradient" id="red-divider">
      <section class="mid-container">
        <div class="left-column">
           <h1 class="red-color">App Function 2</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nulla rhoncus imperdiet purus in sollicitudin.
                  Nunc tristique nunc non nisl luctus auctor.
                  Pellentesque in feugiat nulla, non vehicula arcu.
                  Morbi rutrum feugiat lorem, fermentum ultricies quam dapibus vitae.
                  Vestibulum consectetur nibh dolor, id consequat diam viverra quis.</p>
             <p>Integer eu augue accumsan, laoreet tellus et, posuere nisl.
                  Vivamus iaculis in elit in pretium. Proin rhoncus at nisi eu convallis.</p>
          </div>
          <div class="right-column">
            <img src="{{ url_for('static', filename='images/bird_red.png') }}">
          </div>
      </section>
    </div>

    <!-- The 'Green' Content -->
    <div class="gradient" id="green-divider">
      <section class="mid-container">
        <div class="left-column">
           <img src="{{ url_for('static', filename='images/bird_green.png') }}">
        </div>
        <div class="right-column">
          <h1 class="green-color">App Function 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nulla rhoncus imperdiet purus in sollicitudin.
                  Nunc tristique nunc non nisl luctus auctor.
                  Pellentesque in feugiat nulla, non vehicula arcu.</p>
          </div>
      </section>
    </div>
  </div>
{% endblock %}
