<!-- The sign up page, where a user can register interest about the application -->
{% extends "layout.html" %}

{% block main_content %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <div class="left-column">
    <img src="{{ url_for('static', filename='images/bird_yellow.png') }}">
  </div>
  <div class="right-column">
    <form class="signup-form" action="{{ url_for('new_signup') }}" method="POST">
    <dl>
      <dd><input required="" name="first_name" value="{{data[0]}}"  type="text" placeholder="First name"></dd>
      <dd><input required="" name="last_name" value="{{data[1]}}" type="text" placeholder="Last name"></dd>
      <dd><input required="" name="email" type="email" placeholder="Email"></dd>
      <dd><input required="" name="country" value="{{data[3]}}" type="text" placeholder="Country"></dd>
      <dd><input required="" name="city" value="{{data[4]}}" type="text" placeholder="City"></dd>
      <dt>How did you get here?</dt>
      <dd><select name="reference">
        <option value="friend">Friend told me</option>
        <option value="g_plus">Google+</option>
        <option value="search_engine">Searched for it</option>
        <option value="facebook">Facebook</option>
        <option value="twitter">Twitter</option>
        <option value="test">Other</option>
      </select></dd>
      <dd><button class="button" type="submit">Sign up</button></dd>
    </dl>
    </form>
  </div>

{% endblock %}